* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 50px;
  padding: 20px 20px;
}


.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  }

.nav--title {
    color: #DEEBF8;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

}

.logo {
    height: 30px;
    margin-right: 7px;
}

main {
  opacity: 0.7;
  color: white;
  padding: 57px 27px;
  color: white;
  background-image: url(../components/img/react2.png);
  background-repeat: no-repeat;
  background-position: right 40%;
  
}

.main--title {
  margin-left: 4%;
  font-size: 40px;
  letter-spacing: -0.05em;
}

main ,.main--facts  {
 margin-top: 34px;
 max-width: 400px;
}

.main--facts > li {
  margin-left: 7%;
  letter-spacing: -0.05em;
  font-size : 25px;
}

.main--facts > li::marker  {
  font-size: 1.4rem;
  color: #61DAFB;
}




